.container .search {
  height: 104rpx;
  background: #ff2d4a;
  padding: 25rpx;
}
.container .search .icon-search {
  position: absolute;
  z-index: 100;
  top: 20rpx;
  left: 50%;
}
.container .search input {
  border-radius: 8rpx;
  background: white;
  height: 100rpx;
  text-align: center;
}
.container .swiper-img {
  width: 750rpx;
}
.container .nav {
  padding: 24rpx 0;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}
.container .nav-img {
  width: 128rpx;
}
.container .floor-head {
  padding-top: 30rpx;
}
.container .floor-head-img {
  width: 750rpx;
  height: 60rpx;
}
.container .floor-body {
  background: white;
  padding: 20rpx 16rpx 0;
  display: flex;
}
.container .floor-body-left {
  width: 250rpx;
}
.container .floor-body-left-img {
  width: 232rpx;
  height: 386rpx;
}
.container .floor-body-right {
  display: flex;
  flex-wrap: wrap;
}
.container .floor-body-right-img {
  height: 188rpx;
  padding: 0 0 10rpx 10rpx;
}
.container .floor-body-first-img {
  height: 188rpx;
  padding: 0 0 10rpx 10rpx;
}
.container .floor-body-first-img:nth-child(1),
.container .floor-body-first-img:nth-child(4) {
  width: 273rpx;
}
.container .floor-body-first-img:nth-child(2),
.container .floor-body-first-img:nth-child(3) {
  width: 193rpx;
}
.container .floor-bottom-img {
  width: 750rpx;
  height: 180rpx;
}
.container .top {
  position: fixed;
  right: 30rpx;
  bottom: 120rpx;
  background-color: #ffffff;
  opacity: .6;
  width: 80rpx;
  height: 80rpx;
  border-radius: 50%;
  text-align: center;
  box-sizing: border-box;
  padding-top: 10rpx;
}
.container .top image {
  display: block;
  width: 30rpx;
  height: 25rpx;
  margin: 0 auto;
}
